@model EntityLayer.Concrete.Admin

<div class="profile-grid logo wthree">
    <img src="@Model.Profile" alt="@Model.UserName" style="height: 150px">
    <h2>@Model.UserName </h2>
    <p>@Model.Title</p>
</div>
